<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="header">
	<style>
.green {
	background-color: green;
}
</style>
	<script></script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<!-- 타임리프   -->
		총사원수 : <span th:text="${#lists.size(empList)}"></span> 총사원수 :
		[[${#lists.size(empList)}]]
		<table>
			<tr>
				<th>empStat.count</th>
				<th>employee_id</th>
				<th>first_name</th>
				<th>last_name</th>
				<th>salary</th>
			</tr>

			<tr th:each="emp : ${empList}" th:class="${empStat.even?'green':''}">
				<td th:text="${empStat.count}"></td>
				<td th:utext="${emp.employeeId}"></td>
				<td th:text="${emp.firstName}"></td>
				<td th:text="${emp.lastName}"></td>
				<td th:text="${emp.salary}"></td>
				<td th:text="${emp.hireDate}"></td>

				<!-- if문 -->
				<td>
					<button th:if="${emp.salary}>10000">보너스</button>
				</td>

				<td th:text="${#dates.format(emp.hireDate,	'yyyy-MM-dd')}"></td>
			</tr>
		</table>
		<div th:insert="~{footer :: copy}"></div>
		<!-- footer는 파일명. 파일 안에서 이름이 copy인 거 찾아서 넣어줘 -->
	</div>
	<footer th:replace="~{footer :: copy}"></footer>
</body>
</html>